@font-face {
	font-family: "Aileron";
	font-weight: 300;
	src: url("../fonts/Aileron-Regular.otf");
}

@font-face {
	font-family: "Aileron";
	font-weight: 300;
	font-style: italic;
	src: url("../fonts/Aileron-Italic.otf");
}

@font-face {
	font-family: "Aileron";
	font-weight: 500;
	src: url("../fonts/Aileron-Bold.otf");
}

@font-face {
	font-family: "Aileron";
	font-weight: 500;
	font-style: italic;
	src: url("../fonts/Aileron-BoldItalic.otf");
}

@font-face {
	font-family: "Aileron";
	font-weight: 700;
	src: url("../fonts/Aileron-Black.otf");
}

@font-face {
	font-family: "Aileron";
	font-weight: 700;
	font-style: italic;
	src: url("../fonts/Aileron-BlackItalic.otf");
}

body {
	background: var(--light);
	font-family: var(--font-family-sans-serif);
	color: black;
	padding-top: 2rem;
}

h1, h2, h3, h4, h5 {
	color: var(--dark);
}

h1 {
	font-weight: 700;
}

a, a:visited {
	color: var(--orange);
}

a:hover {
	color: var(--orange);
}

#cartogramma {
	margin-top: 5rem;
}

.rect {
	transition: opacity 0.2s ease;
}

.rect:hover {
	cursor: pointer;
}

.label {
	pointer-events: none;
}

#tooltip {
	position: absolute;
	margin-top: 8rem;
	cursor: default;
}

#tooltip p {
	margin-bottom: 0.2rem;
}

#tooltip .country {
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--orange);
}

#tooltip .funds {
	font-size: 1.2rem;
}

#tooltip .vuln {
	font-size: .8rem;
	text-transform: uppercase;
}

.escape {
	position: absolute;
	left: -1rem;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bold;
	color: var(--danger);
}

.escape:hover {
	cursor: pointer;
}

footer {
	padding: 3rem 0;
}